<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Friendly Restaurant">
  <meta name="theme-color" content="#C4C4C4"/>
  
  <link rel="icon" href="./favicon.png">
  <link rel="manifest" href="./app.webmanifest">

  <title>ioFood | Restaurant Apps</title>
</head>
<body>
  <a href="#maincontent" class="skip-link" aria-labelledby="skiplink-heading">Skip To Content</a>
  <header>
    <app-bar></app-bar>
    <drawer-component></drawer-component>
    <hero-element></hero-element>
  </header>
  <main id="maincontent" tabindex="0"></main>
  <footer>
    <footer-element></footer-element>
  </footer>
</body>
</html>
