  
  .container_restoList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 30px;
    margin-bottom: 20px;
    background-color: $bg-color;
    
    .card {
        background-color: $primary-color;
        padding: 10px;
        border-radius: 10px;
        overflow: hidden;
        padding-bottom: 10px ;
        position: relative;
        box-shadow: 0 4px 8px 0 #00000033;
  
      .card-title {
        font-size: large;
        font-weight: bold;
        margin-top: 1px;
        color: $secondary-color;
        text-decoration: none;
        padding: 15px 0px 15px 0px;
  
        &:hover {
          font-weight: 600;
          color: #91640F;
          text-decoration:none;
        }
      }
  
      p {
        font-size: small;
  
        &.rating {
          font-size: 20px;
          color: $rating-color;
        }
  
        &.city {
          position: absolute;
          border-radius: 10px;
          top: 10px;
          right: 20px;
          z-index: 2;
          background-color: $primary-color;
          color: $secondary-color;
          padding: 5px 10px;
        }
      }
  
      .card-img-top {
        border-radius: 10px;
        width: 100%;
        height: 40%;
        object-fit: cover;
      }
  
      &:hover {
        transform: scale(1.05);
        transition: ease-in 0.1s;
      }
  
      .card-description {
        &p {
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 5;
          -webkit-box-orient: vertical;
        }
      }
    }
  }