//Breakpoint
$desktop:1807px;
$tablet: 775px;
$mobile: 522px;
//colors
$primary-color: #ffffff;
$secondary-color: #000000;
$bg-color: #C4C4C4;
$rating-color:#FFE234;
//Fonts 
$font-family: 'Poppins', sans-serif;
// BannerHero
$hero_height: 600px;



